{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Decision Task 3
{% endblock %}

{% block content %}
<div class="content">

    <div class="row">
        <div class="col-md-12">
            <p>In the third decision task, we will again ask you to choose a lottery to play from a set of six different lotteries. Payoffs will be denominated in Euros.
            <p>Please press "Next" to enter the decision screen.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"></div>
    </div>

    <div class="row pull-right">
        <div class="col-md-12">
            <input class="btn btn-primary btn-large btn-primary next-button" type="submit" value="Next">
        </div>
    </div>
    <br>
</div>

{% endblock %}
