{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Screen 1
{% endblock %}

{% block content %}

    <h3>Individuals makes a choice of wich lottery A-F</h3>
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
    <figure size="25%">
        <!-- Pygal render() result: -->
        {{graph|safe}}
        <!-- End of Pygal render() result: -->
    </figure>
    <table class="table table-hover">
        <tr class="skewrow">
            <th class="lead text-info">1</th><td class="skews">{{form.skewchoice1}}</td>
        </tr>
    </table>
    {% next_button %}


    <script>
        $(document).ready(function(){
            $("tr.skewrow").each(function(sr_idx, row){
                var $row = $(row);
                var $labels = $row.find("td.skews label");

                $row.find("td.skews").remove();
                $labels.each(function(idx, label){
                    var $label = $(label);
                    $row.append("<td></td>");
                    var $td = $row.find("td:last");
                    $td.append(label);
                });

            });
        });
    </script>

{% endblock %}
