{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Question
{% endblock %}

{% block content %}
<div class="content">

    <div class="row">
        <div class="col-md-12">
            {% include "time_preferences/table.html" %}
        </div>
    </div>

    <div class="row pull-right">
        <div class="col-md-12">
            <input class="btn btn-primary btn-large btn-primary next-button" type="submit" value="Next">
        </div>
    </div>
    <br>
</div>

{% endblock %}
