{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Decision Task 1
{% endblock %}

{% block content %}
<div class="content">
        <div class="row">
        <div class="col-md-12">
            <p>Below, you will find a table with the <strong>10</strong> decisions for you to make.&nbsp;</p>
            <p>The decisions all have a similar format. For example, look at <strong>Decision 1</strong> at the top. <strong>Option A</strong> pays <strong>100 points one month from now</strong> and <strong>Option B pays 105.09 points thirteen months from now</strong>. If you choose <strong>Option B</strong> you will earn an <strong>annual return of 5%</strong> on the <strong>100</strong> you choose to receive <strong>13 months from now</strong>. Since this is <strong>compounded quarterly</strong> your <strong>annual effective interest rate is 5.09%</strong>. The only difference in the other nine decisions is that as you move down the table the payoffs (and annual interest rate) for <strong>Option B</strong> increase. You have a<strong> 1-in-10</strong> chance of being paid for one of the decision problems which will be decided by a random draw.</p>
          <p>&nbsp;</p>
            <h4>For each of the 10 decisions, please choose either A or B and when finished press &quot;Submit&quot;</h4>
            <p>&nbsp;</p>
        </div>
            </div>

    <div class="row">
        <div class="col-md-12">
            {% include "time_preferences/table.html" %}
        </div>
    </div>

    <div class="row pull-right">
        <div class="col-md-12">
            <input class="btn btn-primary btn-large btn-primary next-button" type="submit" value="Submit">
        </div>
    </div>
    <br>
</div>

{% endblock %}
