{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Decision Task 2
{% endblock %}

{% block content %}
<div class="content">

    <div class="row">
        <div class="col-md-12">
            <p>In the second decision task, we will ask you to choose a lottery to play from a set of six different lotteries. Payoffs will now be denominated in Euros.

            <p>You will make this decision for 4 different lottery sets. One of these will be randomly selected for payment today.
            <p>Please press "Next" to enter the decision screen.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"></div>
    </div>

    <div class="row pull-right">
        <div class="col-md-12">
            <input class="btn btn-primary btn-large btn-primary next-button" type="submit" value="Next">
        </div>
    </div>
    <br>
</div>

{% endblock %}
