{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
 Decision Task 2
{% endblock %}

{% block content %}
<div id="realcontent">
    <div class="instructions">
        {% if screen_number == 1 %}
            {% include "risk_aversion/instructions/screen_1.html" %}
        {% elif screen_number == 2 %}
            {% include "risk_aversion/instructions/screen_2.html" %}
        {% elif screen_number == 3 %}
            {% include "risk_aversion/instructions/screen_3.html" %}
        {% elif screen_number == 4 %}
            {% include "risk_aversion/instructions/screen_4.html" %}
        {% endif %}
        <p class="text-info lead text-center">Please choose one of the lotteries below (A - F) to play.</p>
    </div>
    <table style="background-color: #F9F9F9;border-radius: 100px; margin-left:auto; margin-right:auto;">
        <tr>
            <td></td>
            <td class="text-center">
                <figure>{{graphs.A|safe}}</figure>
                <span class="text-info lead">A</span>
            </td>
            <td class="text-center">
                <figure>{{graphs.B|safe}}</figure>
                <span class="text-info lead">B</span>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="text-center">
                <figure>{{graphs.F|safe}}</figure>
                <span class="text-info lead">F</span>
            </td>
            <td></td><td></td>
            <td class="text-center">
                <figure>{{graphs.C|safe}}</figure>
                <span class="text-info lead">C</span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="text-center">
                <figure>{{graphs.E|safe}}</figure>
                <span class="text-info lead">E</span>
            </td>
            <td class="text-center">
                <figure size="15%">{{graphs.D|safe}}</figure>
                <span class="text-info lead">D</span>
            </td>
            <td></td>
        </tr>
    </table>

    <div class="center text-center">
        {% for field in form %}
        {{field}}
        {% endfor %}
    </div>
<p>&nbsp;</p>
<div align="center"><p>After you have selected your preferred lottery, please press "Next."</p></div>
    <div align="right">{% next_button %}</div>
</div>


{% endblock %}
