{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
(Final) Task 5
{% endblock %}

{% block content %}
<div class="content">

    <div class="row">
        <div class="col-md-12">
            {% if is_practice %}
            <p> The last decision task will investigate your ability to read emotion from the eyes.
    You will be shown a pair of eyes with four emotion labels around it, similar to the practice example below. You should select
                which of the four emotion words best describes the emotion that the eyes are showing.
    Please provide one best guess for each item.</p>
            <h2 class="text-center">Practice Question:</h2>
            {% else %}
            <p>Please now complete the eyes test (your progress through this test is tracked below). This is the last task. After completion, we will inform you of the number you answered correctly and how this compares to others.
            We will also summarize your payoffs for all other decision tasks you completed.</p>
            <h2 class="text-center">Progress: Face {{subsession.round_number}} of {{Constants.num_rounds|add:1}}</h2>
            {% endif %}

            <div class="text-center text-info">
                <small><b>Do not press "Reload" or the back button. If you do, you will have to restart the test from scratch</b></small>
            </div>
        </div>
    </div>

    <hr>
    <div class="row lead text-info">
        <div class="col-md-12"><span class="text-left">{{options.0}}</span><span class="pull-right">{{options.1}}</span></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <img src="{% static image %}">
            </div>
        </div>
    </div>
    <div class="row lead text-info">
        <div class="col-md-12"><span class="text-left">{{options.2}}</span><span class="pull-right">{{options.3}}</span></div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <div class="text-center lead">
                {% for field in form %}{{field}}{% endfor %}
            </div>
        </div>
    </div>

    <div class="row pull-right">
        <div class="col-md-12">
            <input class="btn btn-primary btn-large btn-primary next-button" type="submit" value="Next">
        </div>
    </div>
    <br>
    {% if is_practice %}
    <br>
    <div class="row well">
        <div class="col-md-12">
            {% include "eyes_mind/_instructions.html" %}
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
