<h4>Attention - New decision!</h4>
<p> Again, we would like you to choose a lottery. In this case, <b>you do not know the chance of the 2 results of each lottery.</b>
    We have represented this by covering part of the pie below with a pink area marked by a "?".</p>
<p>While you do not know precisely the chance of each outcome, we can tell you it will vary between 3 to 7 out of 10. For example, in lottery A, the two possible
outcomes are 0.50 and 17.50 Euros. It could be more likely that 0.50 is the outcome or that 17.50 is the outcome, or again equally likely. This probability is and will remain
    unknown to you.</p>
