<h4>Attention - Last decision of this stage!</h4>
<p>The lottery values have now changed from the previous screen. <b>Losses are again possible.</b>
    As before, you do not know precisely the chance of each outcome. It will vary between 3 to 7 out of 10 for each outcome.</p>
<p>Since losses are possible, you will again receive an endowment of 10 Euros if this lottery choice is randomly selected for payment, and if you make a loss it will be deducted from this endowment.</p>
<p>Please choose a lottery to play out of 5 different possibilities (A - F), seen below.</p>


