{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Decision Task 4
{% endblock %}

{% block content %}
<div class="content">

    <div class="row">
        <div class="col-md-12">
            <p>For this fourth decision task, we would like to ask you to get a coin.</p>
            <p>After reading these instructions, you will toss the coin four times and you will have to report how often the coin landed on tails on the next page.</p>
            <p>&nbsp;</p>
          <h4>Instructions:</h4>
            <p>Each time it lands on tails you receive <strong>{{Constants.euros_per_toss}} Euros. </strong>In other words, you receive <strong>0 Euros</strong> if it never lands on tails; you receive <strong>2 Euros</strong> if it lands on tails <strong>once</strong>; <strong>4 Euros</strong> if&nbsp;it lands on tails <strong>twice</strong>; <strong>6 Euros</strong> if it lands on tails <strong>three times</strong>; and <strong>8 Euros</strong> if it lands on tails <strong>four times</strong>.</p>

            <p>&nbsp;</p>
            <p><strong>Once again:</strong> You will toss the coin four times, count how often tails comes up and then report this. You will receive <strong>2 euros per number of tails.</strong></p>
            <p>You will report the number of tails on the next screen. Please don&rsquo;t start just yet.</p>
            <p>If you understand the rules, press "Next"</p>
        </div>
    </div>

    <div class="row pull-right">
        <div class="col-md-12">
            <input class="btn btn-primary btn-large btn-primary next-button" type="submit" value="Next">
        </div>
    </div>
    <br>
</div>

{% endblock %}
