{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Decision Task 4
{% endblock %}

{% block content %}
<div class="content">

    <div class="row">
        <div class="col-md-12">
            <p>Please now toss the coin four times and remember how often tails it lands on tails.</p>
            <p>Input the number of tails below. Once you have finished, press &quot;Submit&quot;</p>
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{form}}
        </div>
    </div>

    <div class="row pull-right">
        <div class="col-md-12">
            <input class="btn btn-primary btn-large btn-primary next-button" type="submit" value="Submit">
        </div>
    </div>
    <br>
</div>

{% endblock %}
